body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    
}
nav>ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: #474747;
    /* font-size: 20px; */
}
.nav-btn{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0px;
    width: 100px;
    height: 50px;
    /* margin-bottom: 90px; */
}


/* Header style */
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* Banner style */

.banner{
    display: flex;
    align-items: center;
    padding-left: 230px;
    padding-bottom: 0px;
    justify-content: space-between;
    
}
.banner-content{
    width: 500px;
    height: 500px;
}
.banner-header{
    color: #474747;
    font-size: 45px;
    /* font-weight: 600; */
    font-style: normal;
    margin-bottom: 0px;
}
.banner-title{
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    font-style: normal;
    margin-top: 5px;
}
.banner-description{
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 585px;
    height: 66px;

}
.second-btn{
    background-color:#FD6E0A;
    border: 0px;
    border-radius: 5px;
    width: 200px;
    height: 64px;
}
.third-btn{
    background-color: #FFF8F3;
    color: #FD6E0A;
    width: 200px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    padding: 19px 23px 18px 48px;
    margin-left: 30px;
}
.profile-pic{
    /* color: var(--Dark-02, #474747); */
    width: 500px;
    height: 500px;
    margin-top: 90px;   
}
main{
    /* max-width: 1140px; */
    /* margin: 0px auto; */
}

/* About Section */
.about{
    /* width: 1400px; */
    height: 300px;
    margin-right: 400px;
    margin-left: 400px;
    background-color:#FFF8F3 ;
    
}
.about-title{
    text-align: center;
    color:#181818;
    font-size: 35px;
    font-weight: 700;
    margin-top: 260px;
}
.about-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}
.info{
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
}
.info-title{
    text-align: center;
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}
.info-details{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

/* what I do */
.what{
    margin-top: 258px;
    margin-left: 400px;
    margin-right: 400px;
}
.what-i-do{
    text-align: center;
    color:#181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;

}
.what-description{
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-weight: 400;

}
.knowledge{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    /* background-color: blue; */
}

.knowlegde-header1{
    width: 267px;
    height: 350px;
    padding-left: 30px;
    border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.knowlegde-header2{
    width: 267px;
    height: 350px;
    border-radius: 5px;
    padding-left: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.knowlegde-header3{
    width: 267px;
    height: 350px;
    padding-left: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.knowlegde-header4{
    width: 267px;
    height: 350px;
    padding-left: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.image{
    margin-top: 30px;
    padding-left: 30px;
}
.knowledge-title{
    color:#181818;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 700;
}
.knowledge-details{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding-right:33px ;
}

/* resume style */

.resume{
    text-align: center;
    margin-top: 130px;
    color: #181818;
    font-size: 35px;
    font-weight: 700;

}

.resume-conteiner{
    display: flex;
    gap: 50px;
    padding: 110px 230px;
}
.resume-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}
.resume-header{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    
}
.resume-details{
    color: #757575;
    font-size: 20px;
    font-weight: 600;

}
.resume-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.fourth-btn1{
    text-align: center;
}
.fourth-btn{
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}
footer{
    background-color: #FFF8F3;
    margin-top: 113px;
}
.footer{
    display: flex;
    gap: 120px;
    padding: 130px 230px;
}
.footer-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;

}
.footer-description{
    color:#474747;
    font-size: 16px;
    font-weight: 400;
}
a{
    margin-right: 24px;
}
.text{
    padding-left: 30px ;
    width: 461px;
    height: 64px;
    border-radius: 5px;
    background-color: #FFF;
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    border: 0px;

}
.email{
    padding-left: 30px ;
    width: 461px;
    height: 64px;
    border-radius: 5px;
    background-color: #FFF;
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    border: 0px;
}
.Message{
    width: 461px;
    height: 180px;
    border-radius: 5px;
    background-color: #FFF;
    border: 0px;
}
.last-btn{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}