*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}
/* header style */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
    max-width: 1600px;
  }

/* Nav and header css */
nav{
    display: flex;
    justify-content: space-between;
    margin: 51px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
    
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: aliceblue;
    height: 64px;
    border-radius: 5px;
    background:#FD6E0A;
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    padding: 18px 35px;  
}
/* header-banner.css */
.banner-h3{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin: 5px;
}
.banner-h1{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}
.banner{
    display: flex;
    align-items: center;
    margin: 51px 200px;
}
.image{
    width: 784px;
    height: 476px;
}
.banner-p1{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}
.btn-contact{
    color: aliceblue;
    height: 64px;
    border-radius: 5px;
    background:#FD6E0A;
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    padding: 18px 35px;
    margin-left: 30px;
}
.batn-primary,.btn-contact{
    margin-top: 24px;
    
}

/* main section styles */
main{
    max-width: 1140px;
    height: 550px;
    margin: 0px auto;
    background: #FFF8F3;
}
/* section styles */
.about{
    margin-top: 131px;
    padding: 131px 157px;
    text-align: center;
}
.section-title{
    margin-bottom: 30px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}
.scetiom-description{ 
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.info{
    display: flex;
    margin-top: 30px;
    margin-bottom: 131px;
    justify-content: space-around;
}
.info-title{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.info-details{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}